{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playalong</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/element.css' %}" rel="stylesheet">
	<link rel="{% static 'stylesheet' %}" type="text/css" href="css/font-awesome.min.css" />
	<link href="{% static 'https://fonts.googleapis.com/css?family=Alata&display=swap' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/ekko-lightbox.js' %}"></script>
  </head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<section id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-trophy"></i> <span class="col">Sports</span> Team</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enquiry <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'enquiry_form' %}" class="pl-4">Enquiry Form</a></li>
                <li><a href="{% url 'enquiry_list' %}" class="pl-4">Enquiry List</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admission <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'register' %}" class="pl-4">Admission_Form</a></li>
            <li><a href="{% url 'admission_list' %}"  class="pl-4">Admission_list</a></li>
            <li><a href="{% url 'sessions' %}"  class="pl-4">Add Sessions</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coach <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'coach_reg' %}" class="pl-4">Coach_Reg</a></li>
            <li><a href="{% url 'player_name' %}"  class="pl-4">Coach_Allocation</a></li>
            </ul>
        </li>

    </ul>
</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>
<br><br>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Player Admission Form</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class=" form-label-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" class="form-control form-control-small" required>
                </div>

                <div class="col-md-6 form-label-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" class="form-control form-control-small" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-label-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" class="form-control form-control-small" required>
                </div>
                <div class="col-md-6 form-label-group">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" class="form-control form-control-small" required>
                        <option>Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-label-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" class="form-control form-control-small" required>
                </div>
                <div class="col-md-6 form-label-group">
                    <label for="blood_group">Blood Group:</label>
                    <input type="text" id="blood_group" name="blood_group" class="form-control form-control-small" required>
                </div>
                <div class="col-md-6 form-label-group">
                    <label for="adhar">Aadhar Number:</label>
                    <input type="text" id="adhar" name="adhar" class="form-control form-control-small" >
                </div>
            </div>
            <h3 class="text-center mt-4">Parent/Guardian's Contact Details</h3>
            <div class="form-row">
                <div class="col-md-6 form-label-group">
                    <label for="parentName">Full Name:</label>
                    <input type="text" id="parentName" name="parentName" class="form-control form-control-small" required>
                </div>
                <div class="col-md-6 form-label-group">
                    <label for="mobile">Mobile Number:</label>
                    <input type="tel" id="mobile" name="mobile" class="form-control form-control-small" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-label-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control form-control-small" required>
                </div>
                <div class="col-md-6 form-label-group">
                    <label for="place">Place:</label>
                    <input type="text" id="place" name="place" class="form-control form-control-small" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-label-group">
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" class="form-control form-control-small" rows="2" required></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-label-group">
                    <label for="uniformSize">Uniform Size:</label>
                    <select id="uniformSize" name="uniformSize" class="form-control form-control-small" required>
                        <option>Select</option>
                        <option value="28">28</option>
                        <option value="30">30</option>
                        <option value="32">32</option>
                        <option value="34">34</option>
                        <option value="36">36</option>
                        <option value="38">38</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="44">44</option>
                        <option value="46">46</option>
                    </select>
                </div>
                <div class="col-md-6 form-label-group">
                    <label for="uniformColor">Uniform Color:</label>
                    <select id="uniformColor" name="uniformColor" class="form-control form-control-small" required>
                        <option>Select</option>
                        <option value="white">White</option>
                        <option value="colored">Colored</option>
                    </select>
                </div>
            </div>
             <div class="form-row">
                <div class="col-md-5 form-label-group">
                    <label for="batchtime">Batch Time:</label>
                    <select id="batchtime" name="batchtime" class="form-control form-control-small" required>
                        <option>Select</option>
                        <option value="Batch 1">6-8am</option>
                        <option value="Batch 2">8-10am</option>
                        <option value="Batch 3">4-6pm</option>
                        <option value="Batch 4">5.30-7.30pm</option>
                        <option value="Batch 5">7.30-9.30pm</option>
                    </select>
                </div>
            </div>
               <h3 class="text-center mt-4">Academy Package</h3>


            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="package" id="packageMonthly" value="monthly" required>
                        <label class="form-check-label" for="packageMonthly">Monthly</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="package" id="packageQuarterly" value="quarterly">
                        <label class="form-check-label" for="packageQuarterly">Quarterly</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="package" id="packageHalfYearly" value="half_yearly">
                        <label class="form-check-label" for="packageHalfYearly">Half Yearly</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="package" id="packageYearly" value="yearly">
                        <label class="form-check-label" for="packageYearly">Yearly</label>
                    </div>
                </div>
                <div class="col-md-4" id="sessionsOptions" style="display: none;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sessions" id="2sessions" value="weekly_2" required>
                        <label class="form-check-label" for="2sessions">Weekly 2 sessions</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sessions" id="3sessions" value="weekly_3">
                        <label class="form-check-label" for="3sessions">Weekly 3 sessions</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sessions" id="6sessions" value="weekly_6">
                        <label class="form-check-label" for="6sessions">Weekly 6 sessions</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2 form-label-group">
                    <label for="totalAmount">totalAmount:</label>
                    <input type="number" id="totalAmount" name="totalAmount" class="form-control form-control-small" required readonly>
                </div>
                <div class="col-md-2 form-label-group">
                    <label for="payment">payment:</label>
                    <input type="number" id="payment" name="payment" class="form-control form-control-small" required>
                </div>
                <div class="col-md-2 form-label-group">
                    <label for="balance">Balance:</label>
                    <input type="number" id="balance" name="balance" class="form-control form-control-small" required readonly>
                     <div class="text-center" >
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
                </div>

            </div>

        </form>
    </div>
 <section id="footer_bottom">
 <div class="container">
   <div class="row">
    <div class="footer_bottom_1 clearfix">
	 <div class="col-sm-6">
	  <div class="footer_bottom_1i1 clearfix">
	    <p class="col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_bottom_1i2 text-center clearfix">
	    <ul class="social-network social-circle mgt">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_bottom_1i3 text-right clearfix">
	   <h6 class="col_2">
<a class="col_3" href="#">PRIVACY POLICY</a> | <a class="col_3" href="#">TERMS & CONDITIONS</a></h6>
	  </div>
	 </div>
	</div>
   </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:#d40722; color:#fff; border:none;"><span class="fa fa-chevron-up"></span></div>


    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const packageInputs = document.querySelectorAll('input[name="package"]');
            const sessionsOptions = document.getElementById("sessionsOptions");
            const totalAmountInput = document.getElementById("totalAmount");
            const paymentInput = document.getElementById("payment");
            const balanceInput = document.getElementById("balance");

            function updatetotalAmount() {
                const selectedPackage = document.querySelector('input[name="package"]:checked');
                const selectedSession = document.querySelector('input[name="sessions"]:checked');

                if (selectedPackage && selectedSession) {
                    const packageValue = selectedPackage.value;
                    const sessionValue = selectedSession.value;

                    // Dummy pricing logic based on package and session
                    const prices = {
                        monthly: { weekly_2: 2900, weekly_3: 3900, weekly_6: 4900 },
                        quarterly: { weekly_2: 6900, weekly_3: 7900, weekly_6: 8900 },
                        half_yearly: { weekly_2: 12900, weekly_3: 14900, weekly_6: 16900 },
                        yearly: { weekly_2: 22900, weekly_3: 25900, weekly_6: 29900 }
                    };

                    const totalAmount = prices[packageValue][sessionValue];
                    totalAmountInput.value = totalAmount;

                    // Update balance if payment amount is entered
                    const paymentAmount = parseFloat(paymentInput.value) || 0;
                    balanceInput.value = totalAmount - paymentAmount;
                }
            }

            packageInputs.forEach(input => {
                input.addEventListener('change', function() {
                    sessionsOptions.style.display = "block";
                    updatetotalAmount();
                });
            });

            const sessionInputs = document.querySelectorAll('input[name="sessions"]');
            sessionInputs.forEach(input => {
                input.addEventListener('change', updatetotalAmount);
            });

            paymentInput.addEventListener('input', function() {
                const totalAmount = parseFloat(totalAmountInput.value) || 0;
                const payment = parseFloat(this.value) || 0;
                balanceInput.value = totalAmount - payment;
            });
        });
    </script>
</body>
</html>
