
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playalong</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/element.css' %}" rel="stylesheet">
	<link rel="{% static 'stylesheet' %}" type="text/css" href="css/font-awesome.min.css" />
	<link href="{% static 'https://fonts.googleapis.com/css?family=Alata&display=swap' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/ekko-lightbox.js' %}"></script>
  </head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<section id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-trophy"></i> <span class="col">Sports</span> Team</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enquiry <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'enquiry_form' %}" class="pl-4">Enquiry Form</a></li>
                <li><a href="{% url 'enquiry_list' %}" class="pl-4">Enquiry List</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admission <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'register' %}" class="pl-4">Admission_Form</a></li>
            <li><a href="{% url 'admission_list' %}"  class="pl-4">Admission_list</a></li>
            <li><a href="{% url 'sessions' %}"  class="pl-4">Add Sessions</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coach <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'coach_reg' %}" class="pl-4">Coach_Reg</a></li>
            <li><a href="{% url 'player_name' %}"  class="pl-4">Coach_Allocation</a></li>
            </ul>
        </li>

    </ul>
</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="center" class="center_home">
 <div class="center_home_m clearfix">
  <div class="container">
   <div class="row">
    <div class="center_home_1 clearfix">
	 <div class="col-sm-12">
	  <h2 class="col_1">SEMPER</h2>
	  <h1 class="col">PORTA</h1>
	 </div>
	</div>
	<div class="center_home_2 clearfix">
	 <div class="col-sm-6">
	  <div class="center_home_2l clearfix">
	   <h4><a class="col_1" href="#">info@gmail.com</a></h4>
	  </div>
	 </div>
	 <div class="col-sm-6">
	  <div class="center_home_2r text-right clearfix">
	    <ul class="social-network social-circle">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="preview">
 <div class="preview_1 clearfix">
   <div class="col-sm-6 space_all">
    <div class="preview_1l clearfix">
	 <div class="col-sm-5">
	  <div class="preview_1li clearfix">
	   <h3 class="mgt col">NEXT MATCH</h3>
	   <p class="small col_1">Pro League - 10 March, 2021</p>
	  </div>
	 </div>
	 <div class="col-sm-7">
	  <div class="preview_1li1 clearfix">
	   <ul class="mgt">
	    <li>402 <br> <span>DAYS</span></li>
		<li>16 <br> <span>HOURS</span></li>
		<li>12 <br> <span>MINUTES</span></li>
		<li>22 <br> <span>SECONDS</span></li>
	   </ul>
	  </div>
	 </div>
	</div>
   </div>
   <div class="col-sm-6 space_all">
    <div class="preview_1r clearfix">
	 <img src="{% static 'img/3.jpg' %}" class="iw" alt="abc">
	</div>
   </div>
  </div>
</section>

<section id="upcoming">
 <div class="upcoming_m clearfix">
  <div class="container">
  <div class="row">
   <div class="upcoming_1 text-center clearfix">
    <div class="col-sm-12">
	 <h3 class="mgt col">UPCOMING MATCHES</h3>
	 <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
	</div>
   </div>
   <div class="upcoming_2 clearfix">
    <div class="col-sm-4">
     <div class="upcoming_2i clearfix">
	  <div class="upcoming_2i1 clearfix">
	    <h4 class="mgt text-center">10 March, 2021</h4>
	  </div>
	  <div class="upcoming_2i2 text-center clearfix">
	    <h4 class="col mgt">1st Round</h4>
		<h6 class="col_1">Pro League</h6><br>
		<span class="col_1"><i class="fa fa-trophy"></i></span>
		<h3 class="col_3">Semper <br> vs <br>Porta</h3><br>
		<span class="col_1"><i class="fa fa-trophy"></i></span>
	  </div>
	  <div class="upcoming_2i3 text-center clearfix">
	    <h5 class="mgt"><a class="button_1 mgt" href="#">BUY TICKET</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="upcoming_2i clearfix">
	  <div class="upcoming_2i1 clearfix">
	    <h4 class="mgt text-center">15 March, 2021</h4>
	  </div>
	  <div class="upcoming_2i2 text-center clearfix">
	    <h4 class="col mgt">2nd Round</h4>
		<h6 class="col_1">Pro League</h6><br>
		<span class="col_1"><i class="fa fa-trophy"></i></span>
		<h3 class="col_3">Semper <br> vs <br>Porta</h3><br>
		<span class="col_1"><i class="fa fa-trophy"></i></span>
	  </div>
	  <div class="upcoming_2i3 text-center clearfix">
	    <h5 class="mgt"><a class="button_1 mgt" href="#">BUY TICKET</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="upcoming_2i clearfix">
	  <div class="upcoming_2i1 clearfix">
	    <h4 class="mgt text-center">20 March, 2021</h4>
	  </div>
	  <div class="upcoming_2i2 text-center clearfix">
	    <h4 class="col mgt">3rd Round</h4>
		<h6 class="col_1">Pro League</h6><br>
		<span class="col_1"><i class="fa fa-trophy"></i></span>
		<h3 class="col_3">Semper <br> vs <br>Porta</h3><br>
		<span class="col_1"><i class="fa fa-trophy"></i></span>
	  </div>
	  <div class="upcoming_2i3 text-center clearfix">
	    <h5 class="mgt"><a class="button_1 mgt" href="#">BUY TICKET</a></h5>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="counting">
 <div class="container">
  <div class="row">
   <div class="counting_1 clearfix">
    <div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-gamepad"></i></span>
	  <h1>244</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-fire"></i></span>
	  <h1>116</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-shield"></i></span>
	  <h1>24</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-globe"></i></span>
	  <h1>2001</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="shop_h">
 <div class="shop_hm clearfix">
  <div class="container">
  <div class="row">
   <div class="upcoming_1 text-center clearfix">
    <div class="col-sm-12">
	 <h3 class="mgt col">UPCOMING EVENTS</h3>
	 <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
	</div>
   </div>
   <div class="shop_h_1  clearfix">
    <div class="col-sm-3">
	 <div class="shop_h_1i clearfix">
	    <span class="col_1 span_1"><i class="fa fa-shield"></i></span>
	  <h4 class="col">LATEST</h4>
	  <h6 class="col_2"><span class="fa fa-clock-o col_1 me_1"></span> 11 October 2024</h6>
	  <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_h_1i clearfix">
	   <span class="col_1 span_1"><i class="fa fa-shield"></i></span>
	  <h4 class="col">POPULAR</h4>
	  <h6 class="col_2"><span class="fa fa-clock-o col_1 me_1"></span> 11 October 2024</h6>
	  <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_h_1i clearfix">
	   <span class="col_1 span_1"><i class="fa fa-shield"></i></span>
	  <h4 class="col">TRENDING</h4>
	  <h6 class="col_2"><span class="fa fa-clock-o col_1 me_1"></span> 11 October 2024</h6>
	  <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_h_1i clearfix">
	   <span class="col_1 span_1"><i class="fa fa-shield"></i></span>
	  <h4 class="col">NEWEST</h4>
	  <h6 class="col_2"><span class="fa fa-clock-o col_1 me_1"></span> 11 October 2024</h6>
	  <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="players">
 <div class="container">
  <div class="row">
    <div class="upcoming_1 text-center clearfix">
    <div class="col-sm-12">
	 <h3 class="mgt">OUR KEY PLAYERS</h3>
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
	</div>
   </div>
    <div class="players_1 clearfix">
	 <div class="col-sm-3">
	  <div class="players_1i text-center clearfix">
	   <img src="img/10.jpg" class="iw" alt="abc">
	   <h3 class="bold col_1">Praesent Libero</h3>
	   <h5>GOALKEEPER</h5>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="players_1i text-center clearfix">
	   <img src="img/11.jpg" class="iw" alt="abc">
	   <h3 class="bold col_1">Ante Dapibus</h3>
	   <h5>ATTACKER</h5>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="players_1i text-center clearfix">
	   <img src="img/12.jpg" class="iw" alt="abc">
	   <h3 class="bold col_1">Nulla Quis</h3>
	   <h5>DEFENDER</h5>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="players_1i text-center clearfix">
	   <img src="img/13.jpg" class="iw" alt="abc">
	   <h3 class="bold col_1">Sed Augue </h3>
	   <h5>MIDFIELDER</h5>
	  </div>
	 </div>
	</div>
  </div>
 </div>
</section>

<section id="gallery">
 <div class="gallery_m clearfix">
   <div class="container">
  <div class="row">
    <div class="upcoming_1 text-center clearfix">
    <div class="col-sm-12">
	 <h3 class="mgt col">PHOTO GALLERY</h3>
	 <p class="col_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
	</div>
   </div>
    <div class="gallery clearfix">
	    <article class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% static 'img/21.jpg' %}" title="Sport Portfolio" class="zoom" data-title="Sport" data-footer="Sport World" data-type="image" data-toggle="lightbox">
                        <img src="{% static 'img/14.jpg' %}" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>

            </div>
        </article>

        <article class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% static 'img/22.jpg' %}" title="Sport Portfolio" class="zoom" data-title="Sport" data-footer="Sport World" data-type="image" data-toggle="lightbox">
                        <img src="{% static 'img/15.jpg' %}" alt="Food Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>

            </div>
        </article>

        <article class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% static 'img/23.jpg' %}" title="Sport Portfolio" class="zoom" data-title="Sport" data-footer="Sport World" data-type="image" data-toggle="lightbox">
                        <img src="{% static 'img/16.jpg' %}" alt="Sports Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>

            </div>
        </article>

	</div>
	<div class="gallery clearfix">
	    <article class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% static 'img/24.jpg' %}" title="Sport Portfolio" class="zoom" data-title="Sport" data-footer="Sport World" data-type="image" data-toggle="lightbox">
                        <img src="{% static 'img/17.jpg' %}" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>

            </div>
        </article>

        <article class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% static 'img/25.jpg' %}" title="Sport Portfolio" class="zoom" data-title="Sport" data-footer="Sport World" data-type="image" data-toggle="lightbox">
                        <img src="{% static 'img/18.jpg' %}" alt="Food Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>

            </div>
        </article>

        <article class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% static 'img/20.jpg' %}" title="Sport Portfolio" class="zoom" data-title="Sport" data-footer="Sport World" data-type="image" data-toggle="lightbox">
                        <img src="{% static 'img/19.jpg' %}" alt="Sports Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>

            </div>
        </article>

	</div>
  </div>
 </div>
 </div>
</section>

<section id="tuned">
 <div class="container">
  <div class="row">
   <div class="tuned_1 text-center clearfix">
    <div class="col-sm-12">
	  <h3 class="mgt col">STAY TUNED</h3>
	  <p class="col_3">Subscribe my newsletter and don’t miss any update on new products, promotions or even career events.</p><br>
	  <input placeholder="ENTER YOUR EMAIL ADDRESS"  class="form-control text-center" type="text">
	  <h5><a class="button_1 block" href="#">SUBSCRIBE TO NEWSLETTER</a></h5>
	  <p class="col_3"><input type="checkbox">  I read and accept the privacy policy</p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="news">
 <div class="container">
  <div class="row">
    <div class="upcoming_1 text-center clearfix">
    <div class="col-sm-12">
	 <h3 class="mgt">LATEST NEWS</h3>
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
	</div>
   </div>
    <div class="news_1 clearfix">
	 <div class="col-sm-4">
	  <div class="news_1i clearfix">
	    <a href="#"><img src="img/18.jpg" class="iw" alt="abc"></a>
		<h6 class="col_1">Champions League 20 April, 2020</h6>
		<h4><a href="#">Ogbonna blasts virus response</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="news_1i clearfix">
	    <a href="#"><img src="{% static 'img/16.jpg' %}" class="iw" alt="abc"></a>
		<h6 class="col_1">Premier League 19 April, 2020</h6>
		<h4><a href="#">Liverpool title will be special</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="news_1i clearfix">
	    <a href="#"><img src="{% static 'img/14.jpg' %}" class="iw" alt="abc"></a>
		<h6 class="col_1">Football 18 April, 2020</h6>
		<h4><a href="#">Moyes self as precaution</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  </div>
	 </div>
	</div>
	<div class="news_1 clearfix">
	 <div class="col-sm-4">
	  <div class="news_1i clearfix">
	    <a href="#"><img src="{% static 'img/17.jpg' %}" class="iw" alt="abc"></a>
		<h6 class="col_1">Champions League 20 April, 2020</h6>
		<h4><a href="#">Ogbonna blasts virus response</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="news_1i clearfix">
	    <a href="#"><img src="{% static 'img/19.jpg' %}" class="iw" alt="abc"></a>
		<h6 class="col_1">Premier League 19 April, 2020</h6>
		<h4><a href="#">Liverpool title will be special</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="news_1i clearfix">
	    <a href="#"><img src="{% static 'img/15.jpg' %}" class="iw" alt="abc"></a>
		<h6 class="col_1">Football 18 April, 2020</h6>
		<h4><a href="#">Moyes self as precaution</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  </div>
	 </div>
	</div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="col-sm-3">
	 <div class="footer_1">
	  <h4 class="col_1 mgt">DIGNISSIM</h4>
	  <p class="col_3">Torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
	  <div id="custom-search-input">
                            <div class="input-group col-sm-12">
                                <input type="text" class="  search-query form-control" placeholder="Enter Your Email...">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span>Subscribe</span>
                                    </button>
                                </span>
                            </div>
                        </div>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_2">
	  <h4 class="col_1 mgt">MAURIS</h4>
	  <p class="col_3">Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
         torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero.</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_4">
	  <h4 class="col_1 mgt">LACINIA</h4>
	  <ul>
	      <li><a href="#">Mauris</a></li>
		  <li><a href="#">Massa</a></li>
		  <li><a href="#">Conubia</a></li>
		  <li><a href="#">Sagittis</a></li>
		  <li><a href="#">Torquent</a></li>
		  <li><a href="#">Nostra</a></li>
		  <li><a href="#">Lacinia</a></li>
		  <li><a href="#">Conubia</a></li>
		  <li><a href="#">Nulla</a></li>
		  <li><a href="#">Praesent</a></li>
		  <li><a href="#">Lacinia</a></li>
		  <li><a href="#">Tellus</a></li>
		  <li><a href="#">Torquent</a></li>
		  <li><a href="#">Torquent</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_3">
	  <h4 class="col_1 mgt">CONUBIA</h4>
	  <ul>
	      <li><a href="#">Mauris</a></li>
		  <li><a href="#">Massa</a></li>
		  <li><a href="#">Conubia</a></li>
		  <li><a href="#">Sagittis</a></li>
		  <li><a href="#">Torquent</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
   <div class="row">
    <div class="footer_bottom_1 clearfix">
	 <div class="col-sm-6">
	  <div class="footer_bottom_1i1 clearfix">
	    <p class="col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_bottom_1i2 text-center clearfix">
	    <ul class="social-network social-circle mgt">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_bottom_1i3 text-right clearfix">
	   <h6 class="col_2">
<a class="col_3" href="#">PRIVACY POLICY</a> | <a class="col_3" href="#">TERMS & CONDITIONS</a></h6>
	  </div>
	 </div>
	</div>
   </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:#d40722; color:#fff; border:none;"><span class="fa fa-chevron-up"></span></div>

<script>
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	});
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>

<script src="js/classie.js"></script>

<script src="js/cbpAnimatedHeader.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
    $('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function(){
        var $this = $(this),
        c = $this.data('count');
        if (!c) c = 0;
        c++;
        $this.data('count',c);
        $('#'+this.id+'-bs3').html(c);
    });
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
});

	</script>


</body>

</html>
